.manage-mission {
  padding: 20px;
  background-color: #f0f8ff; /* Bleu très clair */
  border-radius: 10px;
}

.manage-mission h2 {
  font-size: 28px;
  text-align: center;
  color: #1E90FF; /* Bleu vif */
  font-family: 'Arial', sans-serif; /* Police moderne */
  font-weight: bold; /* Texte en gras */
  margin-bottom: 20px;
}

/* Style de la table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #1E90FF; /* Bleu vif pour les en-têtes */
  color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e6f7ff; /* Alternance de bleu clair */
}

.table-striped tbody tr:hover {
  background-color: #cceeff; /* Bleu clair au survol */
}

/* Boutons */
.action-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-primary {
  background-color: #1E90FF; /* Bleu primaire */
  color: white;
}

.btn-danger {
  background-color: #f44336; /* Conserve la couleur rouge pour les actions dangereuses */
  color: white;
}

/* Style des modals */
.modal, .modal-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal-content, .modal-content-delete {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}

.modal-content-delete {
  background-color: #f2f2f2;
}

.close, .close-delete {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus, .close-delete:hover, .close-delete:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Pied de page du modal */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.confirm {
  background-color: #1E90FF; /* Bleu pour les actions de confirmation */
  color: white;
}

.cancel {
  background-color: #f44336; /* Rouge pour les actions d'annulation */
  color: white;
}
